<h1>Your Item Production Steps</h1>
<div class="loopy">
  <mat-vertical-stepper [linear]="false">
    <div *ngFor=" let currentProductionStepsAndStatus of orderItem?.productionSteps">
      <mat-step [completed]="false">
        <ng-template matStepLabel>
          {{ currentProductionStepsAndStatus.title }}
        </ng-template>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="detroit-denim-card-avatar"></div>
            <mat-card-title>{{ currentProductionStepsAndStatus.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="currentProductionStepsAndStatus.mediaUrl || '/assets/ddenimlogo.jpg'" alt="Photo of a Production Step">
          <mat-card-content>
            <p>
              {{ currentProductionStepsAndStatus.description }}
            </p>
            <p>
              Current Status: <strong>{{ currentProductionStepsAndStatus.status | statusToString }}</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
    </div>
  </mat-vertical-stepper>
</div>
