<div class="loopy">
  <mat-vertical-stepper [linear]="false">
    <div *ngFor=" let currentProductionStepsAndStatus of orderItem?.productionSteps">
      <mat-step [completed]="false">
        <ng-template matStepLabel>
          {{ currentProductionStepsAndStatus.title }}
        </ng-template>
        <mat-expansion-panel [expanded]="true" [disabled]="true">
          <mat-expansion-panel-header>Current status</mat-expansion-panel-header>
          {{ currentProductionStepsAndStatus.status | statusToString }}
        </mat-expansion-panel>
      </mat-step>
    </div>
  </mat-vertical-stepper>
</div>
