<body>
  <div class="heroimg">
    <!-- <img id="logo" src="/assets/ddenimlogo.jpg" alt="logo" /> -->
    <img id="hero-ish" src="/assets/Combined.png" alt="Hero Image" />
  </div>
  <section class="hero">
    <div class="hero-inner">
      <a href="#" class="btn">Getting Started: The Production Process</a>
    </div>
  </section>

  <div class="loopy">
    <mat-vertical-stepper #stepper [linear]="isLinear">
      <div
        *ngFor="
          let currentProductionStepsAndStatus of currentProductionStepsAndStatus
        "
      >
        <mat-step [stepControl]="currentProductionStepsAndStatus.stepCode">
          <ng-template matStepLabel>
            {{ currentProductionStepsAndStatus.title }}
          </ng-template>
          <mat-expansion-panel>
            <mat-expansion-panel-header
              >Current status</mat-expansion-panel-header
            >
            {{ currentProductionStepsAndStatus.status }}
          </mat-expansion-panel>
        </mat-step>
      </div>
    </mat-vertical-stepper>
  </div>
</body>
