<!-- <app-nav-bar></app-nav-bar> -->
<div class="nav-section">
  <ul class="nav-links">
    <!-- For home link below, possibly set up with logo to navigate back to the Detroit Denim Co site -->
    <li>
      <a href="https://detroitdenim.com/"
        ><img id="logo" src="/assets/ddenimlogo.jpg" alt="logo"
      /></a>
    </li>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/order']">My Orders</a></li>
    <li><a [routerLink]="['/production-process']">Production Process</a></li>
  </ul>
</div>
<body>
  <div class="heroimg">
    <!-- <img id="logo" src="/assets/ddenimlogo.jpg" alt="logo" /> -->
    <img id="hero-ish" src="/assets/Combined.png" alt="Hero Image" />
  </div>
</body>
<router-outlet></router-outlet>

<!-- <body>
  <div class="heroimg">
    <img id="logo" src="/assets/ddenimlogo.jpg" alt="logo" />
    <img id="hero-ish" src="/assets/Combined.png" alt="logo" />
  </div>
  <section class="hero">
    <div class="hero-inner">
      <a href="#" class="btn">Getting Started: The Production Process</a>
    </div>
  </section> -->
<!-- <div class="pre-production">
      <div class="cont" id="cont1"></div>
      <div class="cont" id="cont2"></div>
      <div class="cont" id="cont3"></div>
    </div>
    <div class="happyCustomer">
      <div id="happy"></div> -->

<!-- <body>
    <div class="hero-image">
      <img src="/assets/detroitdenimjeans.jpg" alt="logo" />
    </div> -->
<!-- <header><img src="/assets/ddenimlogo.jpg" alt="logo" /></header>
  <div class="pre-production">
    <div class="cont" id="cont1"></div>
    <div class="cont" id="cont2"></div>
    <div class="cont" id="cont3"></div>
  </div>
  <div class="happyCustomer">
    <div id="happy"></div>
  </div> -->

<!-- <div class="loopy">
    <mat-vertical-stepper #stepper [linear]="isLinear">
      <div
        *ngFor="
          let currentProductionStepsAndStatus of currentProductionStepsAndStatus
        "
      >
        <mat-step [stepControl]="currentProductionStepsAndStatus.stepCode">
          <ng-template matStepLabel>
            {{ currentProductionStepsAndStatus.title }}
          </ng-template>
          <mat-expansion-panel>
            <mat-expansion-panel-header
              >Current status</mat-expansion-panel-header
            >
            {{ currentProductionStepsAndStatus.status }}
          </mat-expansion-panel>
        </mat-step>
      </div>
    </mat-vertical-stepper>
  </div>
</body> -->
