/* For Navbar */

.nav-section {
  display: flex;
  overflow: hidden;
  /* position: relative; */
  justify-content: center;
  width: 100%;
  height: 10%;
}

.nav-links {
  display: flex;
  width: 100vw;
  /* position: static; */
  justify-content: center;
}

.nav-links li {
  list-style: none;
  position: relative;
}

.nav-links li a {
  color: #17bebb;
  display: block;
  margin-top: 5px;
  padding: 0 55px 0 55px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

#logo {
  max-width: 10%;
  height: auto;
  top: 60px;
  /* left: 220px; */
  z-index: 2;
}
#logo:hover {
  opacity: 0.5;
}

/* Body of page */
body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

/* .heroimg {
  height: 25%;
  width: 50%; */
/* background-size: cover; */
/* } */

#hero-ish {
  /* margin: auto; */
  width: 100vw;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: contain;
}

/* #logo {
  max-width: 10%;
  height: auto;

  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 2;
}
#logo:hover {
  opacity: 0.5;
}  */

/* .hero { */
/* Sizing */
/* width: 100vw;
  height: 10vh; */

/* Flexbox stuff */
/* display: flex;
  justify-content: center;
  align-items: center; */
/* Text styles */
/* text-align: center;
} */
/* 
.hero .btn { */
/* Positioning and sizing */
/* display: block;
  width: 500px; */

/* Padding and margins */
/* padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; */

/* Text styles */
/* color: black;
  text-decoration: none;
  font-size: 1.5em; */

/* Border styles */
/* border: 3px solid black;
  border-radius: 20px;
} */

/* .loopy {
  height: 100vh;
  display: flex;
  justify-content: center;
} */

/* .pre-production {
  display: block;
  margin: auto;
  width: 50%;
  height: 75%;
} */
/* .cont {
  float: left;
  width: 33%;
  height: 25%; */
/* Possible change to auto 
      for height to accommodate whatever is included in div  */
/* margin: auto;
  margin-top: 25%;
  border: 1px white solid;
  background-color: blueviolet;
} */

/* .happyCustomer {
  display: block;
  margin: auto;
  width: 50%;
  height: 75%;
} */

/* #happy {
  float: left;
  width: 99%;
  height: 25%; */
/* Possible change to auto 
        for height to accommodate whatever is included in div  */
/* margin-left: auto;
  border: 1px white solid;
  background-color: blueviolet;
} */

/* 
img {
  margin: auto;
  display: block;
  width: 300px;
  max-width: 100%;
}

.pre-production {
  display: block;
  margin: auto;
  width: 50%;
  height: 75%;
}
.cont {
  float: left;
  width: 33%;
  height: 25%; */
/* Possible change to auto 
      for height to accommodate whatever is included in div  */
/* margin: auto;
  margin-top: 25%;
  border: 1px white solid;
  background-color: blueviolet;
}

.happyCustomer {
  display: block;
  margin: auto;
  width: 50%;
  height: 75%;
}

#happy {
  float: left;
  width: 99%;
  height: 25%; */
/* Possible change to auto 
        for height to accommodate whatever is included in div  */
/* margin-left: auto;
  border: 1px white solid;
  background-color: blueviolet;
} */
